<!DOCTYPE html>

<!-- This website template was created by: Seamus McShane-->

<html lang=:en">
<html>
    <head>
      <title>Forward Fitness Club</title> 
      <meta charset="utf-8">
      <meta name="viewport" conent="width=device-width, initial-scale=1">
    </head>
    <body>

        <!-- Use the header area for the website name or logo-->

        <header>
            <a href="index.html"><image src="images/ffc_logo.png" alt="Forward Fitness Club logo" ></image></a>
        </header>

        <!-- Use the nav area to ass hyperlink to other pages within the website-->

        <nav>
            <ul>
                <li><a href="index.html">Home</a> </li>
                <li><a href="about.html">About Us</a> </li>
                <li><a href="class.html">Classes</a> </li>
                <li><a href="nutrition.html">Nutrition</a> </li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
        </nav>

        <footer>
            &copy; Copyright 2015. All Rights Reserved. <br>
            <a href="mailto:forwardfitness@club.net">forwardfitness@club.net</a>
        </footer>

    </body>
    </html>