<!DOCTYPE >
<!--This website template was created by: Seamus McShane-->
<html lang="en">
<head>
	<title>Forward Fitness Club</title>
	<meta charset="utf-8">
</head>
<body>

    <!-- Use the header area for the website name or logo-->
    <header>
            
    </header>
    <!-- Use the nav are to add hyperlinks to other pages within the website-->
    <nav>
        Home &nbsp; &nbsp;
        About Us &nbsp; &nbsp;
        Classes &nbsp; &nbsp;
        Nutrition &nbsp; &nbsp;
        Contact Us
    </nav>
    <main>

    </main>
    <footer>

    </footer>
</body>
</html>